{% extends 'base.html' %} {% load shopx_tags %} {% block content %}
<div style="margin-top: 10%" class="container">
  <div class="row d-flex align-content-center flex-wrap">
    {% for cart in item_list.all %}
    <div class="col-12 col-sm-8 col-md-6 col-lg-4">
      {% is_cart cart.item.id request.user as cart_or_not %}
      <div class="card">
        <img
          height="250px"
          class="card-img"
          src="{{cart.item.picture}}"
          alt="Vans"
        />
        <div class="card-img-overlay d-flex justify-content-end">
          <a href="#" class="card-link text-danger like">
            <i class="fas fa-heart"></i>
          </a>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-9">
              <h4 class="card-title">{{cart.item.item_name}}</h4>
            </div>
            {% if request.user == cart.item.seller %}
            <div class="col-3">
              <div class="dropdown">
                <a
                  id="dropdownMenuButton"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <span
                    style="
                      font-weight: bolder;
                      cursor: pointer;
                      color: black;
                      margin-left: 1%;
                      font-size: xx-large;
                    "
                    >...</span
                  >
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a
                    class="dropdown-item"
                    href="{% url 'accounts:update' cart.item.id %}"
                    >Edit</a
                  >
                  <a
                    class="dropdown-item"
                    href="{% url 'accounts:delete' cart.item.id  %}"
                    >Delete</a
                  >
                </div>
              </div>
            </div>
            {% endif %}
          </div>

          <h6 class="card-subtitle mb-2 text-muted">
            Left: {{cart.item.quantity}}
          </h6>
          <!-- <p class="card-text">{{item.item_description}}</p> -->
          <div class="row">
            <div class="col-7">Seller : {{cart.item.seller}}</div>
            <div class="col">
              {% if request.user.is_authenticated %} {% if cart_or_not %}
              <span class="add_cart" item_id="{{cart.item.id}}"
                ><button id="class_button_{{item.id}}" class="btn btn-primary">
                  <small id="add{{cart.item.id}}">added to Cart</small>
                </button></span
              >
              {% else %}
              <span class="add_cart" item_id="{{cart.item.id}}"
                ><button
                  id="class_button_{{cart.item.id}}"
                  class="btn btn-danger"
                >
                  <small id="add{{cart.item.id}}">add to Cart</small>
                </button></span
              >
              {% endif %} {% else %}
              <a href="{% url 'accounts:login' %}"
                ><button
                  id="class_button_{{cart.item.id}}"
                  class="btn btn-danger"
                >
                  <small id="add{{cart.item.id}}">add to Cart</small>
                </button></a
              >
              {% endif %}
            </div>
          </div>
          <div class="buy d-flex justify-content-between align-items-center">
            <div class="price text-success">
              <h5 class="mt-4">${{cart.item.price}}</h5>
            </div>
            <a
              class="btn btn-danger mt-3"
              href="{% url 'accounts:buy' cart.item.id %}"
            >
              Buy
            </a>
          </div>
        </div>
      </div>
    </div>

    {% empty %}
    <div>Opps! we don't have any product now ...</div>
    {% endfor %}
  </div>
</div>
<input type="hidden" class="csrf_value" value="{{csrf_token}}" />
{% endblock %}
