{% extends 'base.html' %} {% load shopx_tags %} {% block content %}
<div style="margin-top: 10%; text-align: center" class="container">
  <div>
    <div>
      <a href="{% url 'accounts:itemform' %}">
        <button class="btn btn-primary">Add New Item</button>
      </a>
    </div>
    <div style="margin-top: 10%" class="container">
      <div class="row d-flex align-content-center flex-wrap">
        {% for item in item_list %}
        <div class="col-md-6 col-lg-4">
          {% is_cart item.id request.user as cart_or_not %}
          <div class="card">
            <img
              height="250px"
              class="card-img"
              src="{{item.picture}}"
              alt="Vans"
            />
            <div class="card-img-overlay d-flex justify-content-end">
              <a href="#" class="card-link text-danger like">
                <i class="fas fa-heart"></i>
              </a>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-9">
                  <h4 class="card-title">{{item.item_name}}</h4>
                </div>
                {% if request.user == item.seller %}
                <div class="col-3">
                  <div class="dropdown">
                    <a
                      id="dropdownMenuButton"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      <span
                        style="
                          font-weight: bolder;
                          cursor: pointer;
                          color: black;
                          margin-left: 1%;
                          font-size: xx-large;
                        "
                        >...</span
                      >
                    </a>
                    <div
                      class="dropdown-menu"
                      aria-labelledby="dropdownMenuButton"
                    >
                      <a
                        class="dropdown-item"
                        href="{% url 'accounts:update' item.id %}"
                        >Edit</a
                      >
                      <a
                        class="dropdown-item"
                        href="{% url 'accounts:delete' item.id  %}"
                        >Delete</a
                      >
                    </div>
                  </div>
                </div>
                {% endif %}
              </div>

              <h6 class="card-subtitle mb-2 text-muted">
                Left: {{item.quantity}}
              </h6>
              <!-- <p class="card-text">{{item.item_description}}</p> -->
              <div class="row">
                <div class="col-7">Seller : {{item.seller}}</div>
                <div class="col">
                  {% if request.user.is_authenticated %} {% if cart_or_not %}
                  <span class="add_cart" item_id="{{item.id}}"
                    ><button
                      id="class_button_{{item.id}}"
                      class="btn btn-primary"
                    >
                      <small id="add{{item.id}}">added to Cart</small>
                    </button></span
                  >
                  {% else %}
                  <span class="add_cart" item_id="{{item.id}}"
                    ><button
                      id="class_button_{{item.id}}"
                      class="btn btn-danger"
                    >
                      <small id="add{{item.id}}">add to Cart</small>
                    </button></span
                  >
                  {% endif %} {% else %}
                  <a href="{% url 'accounts:login' %}"
                    ><button
                      id="class_button_{{item.id}}"
                      class="btn btn-danger"
                    >
                      <small id="add{{item.id}}">add to Cart</small>
                    </button></a
                  >
                  {% endif %}
                </div>
              </div>
              <div class="d-flex justify-content-between align-items-center">
                <div class="price text-success">
                  <h5 class="mt-4">${{item.price}}</h5>
                </div>
                <a
                  class="btn btn-danger mt-3"
                  href="{% url 'accounts:buy' item.id %}"
                >
                  Buy
                </a>
              </div>
            </div>
          </div>
        </div>

        {% empty %}
        <div>Opps! we don't have any product now ...</div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
